@import '../../../common/mixins';

.card {
  display: flex;
  width: rem(270);
  height: rem(270);
  border-radius: var(--border-radius-x2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 rem(30);
  flex-shrink: 0;
  transition: .2s;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  @include _576 {
    width: 100%;
    max-width: rem(270);
    height: rem(200);
    margin: 0;
  }
  @include _992{
    height: rem(270);
  }
}