@import '../../common/mixins';

.favorite{
  padding: var(--a-padding-x8) 0 var(--a-padding-x5);
  &__box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(24);
    @include _576{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include _768{
      grid-template-columns: repeat(3, 1fr);
    }
    @include _1140{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .card__decoration{
    display: none;
  }
}
