@import '../../common/mixins';

.header{
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  &__container{
    padding: 0;
  }
  &__nav{
    &-link{
      display: inline-block;
      color: var(--color-main);
      padding: var(--a-padding-x3) var(--a-padding-x4);
      @include _768{
        padding: var(--a-padding-x6);
      }
      &.active{
        color: var(--color-main);
        background: #1E88E5;
      }
      &:hover{
        color: var(--color-main);
      }
    }
  }
}
